%%-*- mode: erlang -*-
%% ex: ft=erlang
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{ct_use_short_names, true}.
{deps, [
    {jsx, "1.4.2",  {git, "https://github.com/k2informatics/jsx.git", master}},
    {jsxn, "0.2.1", {git, "https://github.com/k2informatics/jsxn.git", {tag, "v0.2.1"}}},
    {jiffy, "", {git, "https://github.com/k2informatics/jiffy.git", master}}
]}.
